$primary: #052147; // {{ INDIGO_PRIMARY_COLOR }};
$primary-light: #f2f7f8; // F2F7F8; barre de recherche

// Theme fonts
$font-family-title: "Roboto", sans-serif;
$serif: Crimson;
$f-sans-serif: Crimson, "Open Sans", "Helvetica Neue", Helvetica, Arial,
  sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
// Initialize the Open edX Bootstrap theme
@import "edx-bootstrap/sass/open-edx/theme";

// Introducing new variables

$dark: #72aee0; // 111827;
$light-dark: #052147; // 374151;
$big-screen: 1200px;

// Introducing dark-theme variables

$primary-d: $dark; // #AEC7F6;
$primary-light-d: $light-dark; // #292A2C;
$light-drak-d: #374151;
$text-color-d: #f8f8f8;
$text-color-primary: #dddfe2;
$border-color-d: #777792;
$light-overlay-d: #36383b;
$danger-d: #ffa07a;
$success-d: #54cf5e;
$btn-color-d: #112f6b;
$body-bg-d: #0d0d0e;

$warning-400: #ffe340;
$page-color-transition: transparent 0.2s ease, color 0.2s ease;
